.background {
  align-items: center;
    animation: fadeIn .5s;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 50;
}

.button {
  background-color: #A3C4BC;
  border-radius: 5px;
  font-size: 1rem;
  display: block;
  padding: 8px 0;
  margin: 0 auto;
  width: 5rem;
}

.fadeIn {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.modal {
  background: #BFD7B5;
  border-radius: 5px;
  margin-top: 6rem;
  padding: 10px 0;
  padding: 20px;
  -webkit-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  width: 20em;
}
