.navLink {
  color: black;
  display: inline;
  margin: 1rem;
  text-decoration: none;
}

.activeNavLink {
  border-bottom: 2px solid black;
  color: black;
  display: inline;
  font-weight: bold;
  margin: 1rem;
  padding-bottom: 10px;
  text-decoration: none;
}

.activeLink {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.nav_link_container {
  display: flex;
  list-style: none;
}

.navStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A3C4BC;
  padding: .5rem 2.5rem;
  position: sticky;
  -webkit-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  top: 0;
  right: 0;
  z-index: 10;
}