.container {
  background-color: #A3C4BC;
  border: 1px solid black;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 2rem 2rem 1rem 2rem;
  -webkit-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  text-align: left;
  width: 50%;
}

.field_container {
  display: flex;
}

.inner_container {
  background-color: #EFF3DB;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem 2rem;
  box-shadow: 2px 2px 20px -8px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 2px 2px 20px -8px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 2px 2px 20px -8px rgba(0,0,0,0.75) inset;
}

.inner_container p {
  /* border: 1px solid black; */
  margin: 0 0 10px 0;
  width: 20em;
}

.buttons {
  background-color: #BFD7B5;
  border-radius: 10px;
  font-size: .75rem;
  display: inline;
  padding: .5em 0;
  margin-right: 10px;
  width: 8em;
}

.button_container {
  margin-top: 1em;
}