.button {
  background-color: #BFD7B5;
  border-radius: 5px;
  font-size: 1.25rem;
  display: block;
  margin-top: 2rem;
  padding: 8px 0;
  width: 100%;
}

.checkbox_container {
    text-align: start;
    margin-bottom: 1rem;
}

.checkbox_container input {
  border: 2px solid black;
  display: flex;
  font-size: 1rem;
  height: 20px;
  width: 20px;
    border-radius: 5px;
    padding: 0.75rem;
}

.checkbox_container label {
  display: inline;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.checkbox_label{
  font-size: 1rem;
  height: 1rem;
}

.container {
  background-color: #A3C4BC;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5rem auto;
  padding: 3rem 3rem 5rem 3rem;
  -webkit-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  max-width: 600px;
}


button:hover {
    background-color: #50A2A7;
    cursor: pointer;
}

.field {
    text-align: start;
    margin-bottom: 1rem;
}

.check_field {
    text-align: start;
}

.field input {
  box-sizing: border-box;
  display: block;
  font-size: 1rem;
    border-radius: 5px;
    margin: 0;
    padding: 0.75rem;
    width: 100%;
}

.field p {
    margin: 0;
}

.field label {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.textarea_field {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  text-align: left;
}

.textarea_field textarea {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
}



.title {
    font-size: 2rem;
    margin-top: 0;
}