.container {
  background-color: #A3C4BC;
  border: 1px solid black;
  border-radius: 5px;
  margin: 6rem;
  padding: 2rem;
  -webkit-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  width: 20rem;
}

.formButton {
    background-color: #BFD7B5;
    border-radius: 5px;
    font-size: 1.25rem;
    display: block;
    margin-top: 2rem;
    padding: 8px 0;
    width: 99%;
}

button:hover {
    background-color: #50A2A7;
    cursor: pointer;
}

.field {
    /* border: 3px solid black; */
    /* height: 7rem; */
    text-align: start;
    margin-bottom: 1rem;
}

.field input {
  font-size: 1rem;
    border-radius: 5px;
    padding: 0.75rem;
    width: 90%;
}

.field p {
    margin: 0;
}

.field label {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2rem;
    margin-top: 0;
}