.formButton {
    background-color: #BFD7B5;
    border-radius: 5px;
    font-size: 1.25rem;
    display: block;
    margin-top: 2rem;
    padding: 8px 0;
    width: 100%;
}

.container {
  background-color: #A3C4BC;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5rem auto;
  padding: 3rem 3rem 5rem 3rem;
  -webkit-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 16px -10px rgba(0, 0, 0, 0.75);
  max-width: 600px;
}

button:hover {
    background-color: #50A2A7;
    cursor: pointer;
}

.dropdown_container label {
  display: block;
  font-size: 1.25rem;
  text-align: left;
}

.dropdown_container select {
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  display: block;
  height: 2em;
  margin-top: 0.10rem;
  width: 10rem;
}

.field {
    text-align: start;
    margin-bottom: 1rem;
}

.field input {
  box-sizing: border-box;
  font-size: 1rem;
    border-radius: 5px;
    padding: 0.75rem;
    width: 100%;
}

.field p {
    margin: 0;
}

.field label {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2rem;
    margin-top: 0;
}