body {
  background-image: url("https://cdn.pixabay.com/photo/2015/10/09/21/12/stylish-979952_960_720.jpg");
  box-sizing: border-box;
  color: #413C58;
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

